[submodule "dataModel.PointOfInteraction"]
	path = dataModel.PointOfInteraction
	url = https://github.com/smart-data-models/dataModel.PointOfInteraction.git
[submodule "dataModel.PointOfInterest"]
	path = dataModel.PointOfInterest
	url = https://github.com/smart-data-models/dataModel.PointOfInterest.git
[submodule "dataModel.SatelliteImagery"]
	path = dataModel.SatelliteImagery
	url = https://github.com/smart-data-models/dataModel.SatelliteImagery.git
[submodule "dataModel.SocialMedia"]
	path = dataModel.SocialMedia
	url = https://github.com/smart-data-models/dataModel.SocialMedia.git
[submodule "dataModel.User"]
	path = dataModel.User
	url = https://github.com/smart-data-models/dataModel.User.git
[submodule "dataModel.Weather"]
	path = dataModel.Weather
	url = https://github.com/smart-data-models/dataModel.Weather.git
[submodule "dataModel.Alert"]
	path = dataModel.Alert
	url = https://github.com/smart-data-models/dataModel.Alert.git
[submodule "dataModel.Battery"]
	path = dataModel.Battery
	url = https://github.com/smart-data-models/dataModel.Battery.git
[submodule "dataModel.Device"]
	path = dataModel.Device
	url = https://github.com/smart-data-models/dataModel.Device.git
[submodule "dataModel.IssueTracking"]
	path = dataModel.IssueTracking
	url = https://github.com/smart-data-models/dataModel.IssueTracking.git
[submodule "dataModel.KeyPerformanceIndicator"]
	path = dataModel.KeyPerformanceIndicator
	url = https://github.com/smart-data-models/dataModel.KeyPerformanceIndicator.git
