[submodule "dataModel.Alert"]
	path = dataModel.Alert
	url = https://github.com/smart-data-models/dataModel.Alert.git
[submodule "dataModel.PointOfInterest"]
	path = dataModel.PointOfInterest
	url = https://github.com/smart-data-models/dataModel.PointOfInterest.git
