[submodule "dataModel.KeyPerformanceIndicator"]
	path = dataModel.KeyPerformanceIndicator
	url = https://github.com/smart-data-models/dataModel.KeyPerformanceIndicator.git
[submodule "dataModel.PointOfInteraction"]
	path = dataModel.PointOfInteraction
	url = https://github.com/smart-data-models/dataModel.PointOfInteraction.git
[submodule "dataModel.PointOfInterest"]
	path = dataModel.PointOfInterest
	url = https://github.com/smart-data-models/dataModel.PointOfInterest.git
[submodule "dataModel.User"]
	path = dataModel.User
	url = https://github.com/smart-data-models/dataModel.User.git
[submodule "dataModel.Alert"]
	path = dataModel.Alert
	url = https://github.com/smart-data-models/dataModel.Alert.git
[submodule "dataModel.IssueTracking"]
	path = dataModel.IssueTracking
	url = https://github.com/smart-data-models/dataModel.IssueTracking.git
